@import "tailwindcss";

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #121212 #555;
}
